ignite-chart {
  canvas {
    height: 100% !important;
  }

  .panel-title {
    display: flex;
    align-items: center;

    & .ignite-chart-range:last-child {
      margin-left: auto;
    }

    .ignite-chart-range button {
      text-decoration: none;
      font-size: 16px;
      color: #ee2b27;
    }

    [ignite-icon] {
      margin-left: 5px;
    }

    .dropdown-menu {
      li {
        a {
          align-items: center;
          line-height: 20px;
          display: flex;

          i {
            color: #555;
          }

          span {
            margin: 0 10px;
          }

          &:hover {
            i {
              color: #ba120f;
            }
          }

          & i:last-child {
            margin-left: auto;
          }
        }
      }
    }
  }
}