//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

.popover.settings.refresh-rate(tabindex='-1')
    h3.popover-title Refresh rate
    button.close(ng-click='$hide()')
        svg(ignite-icon='cross')
    .popover-content
        form.theme--ignite(name='popoverForm' novalidate)
            .row.form-field.form-field__text.ignite-form-field
                .col-35.form-field__control
                    input(ng-init='value = paragraph.rate.value' ng-model='value' type='number' min='1' required ignite-auto-focus)
                .col-65.form-field__control
                    button.select-toggle(ng-init='unit = paragraph.rate.unit' ng-model='unit' required placeholder='Time unit' bs-select bs-options='item.value as item.label for item in timeUnit' tabindex='0')
            .row.form-field.form-field__text.ignite-form-field
                .col-100.actions
                    button.btn-ignite.btn-ignite--primary(ng-disabled='popoverForm.$invalid' ng-click='startRefresh(paragraph, value, unit); $hide()') Start
                    button.btn-ignite.btn-ignite--primary(ng-click='stopRefresh(paragraph); $hide()' ng-disabled='!paragraph.rate.installed') Stop

